version: "3.8"

services:
  auth:
    build: ./auth
    container_name: auth-service
    ports:
      - "8000:8000"

  gateway:
    build: ./gateway
    container_name: api-gateway
    ports:
      - "9000:9000"
    depends_on:
      - auth

  attacker:
    build: ./attacker
    container_name: attacker
    tty: true
    depends_on:
      - auth
      - gateway
